/*Selector general*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: aqua;
    text-align: center;
    font-size: 30px;
}
nav {
    background-color: rgb(47, 129, 124);
    text-align: center;
    font-size: 35px;
    color: rgb(255, 254, 254);
}


main {
    background-color: blue;
    font-size: 30px;
    text-align: center;
}
section {
    background-color: blueviolet;
}

article {
    background-color: bisque;
}
picture {
    background-color: brown;
}
aside {
    background-color: rgb(203, 47, 47);
}
footer {
    background-color: blanchedalmond;
}
a {
    text-decoration: none;
    color: none;
}